:root {
  --primary-color: #172a69c9;
  --secondary-color: #e6d818e0;
  --tertiary-color: #a0dceb1c;
  --gray-color: #808080;


}
*{
  box-sizing:border-box;
} 


  body {
  
    background-color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    
  }
  
  /* apply styles to header */
  header {
    padding: 20px 35px ;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
    margin: 0;
  }
  
  header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    background-color: var(--gray-color);
    padding: 10px 5px 5px 5px;  
    
  }
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    
    margin: 7px 0;
    padding: 0 10px 20px;
  }
  
  header nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

  header nav ul li {
    margin-left: 15px;
    border-bottom: 2px solid var(--primary-color);
  }


  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--gray-color);
    border-radius: 15px;
    text-shadow: none;
  }
  

  /*picture added here*/
.pic{

  background-image: url('../images/photo3.jpeg');
  background-size: cover;
  background-position: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
 
}
  .image {
    padding: 20px 100px 20px 100px;
    margin-top:auto;
   
   
  }

  .title{
   
    color:var(--primary-color);
    font-weight:bold;
    margin: 50px 100px 20px 100px;
    background-color: var(--gray-color);
    padding: 0px 5px 0px 5px;
   
}

/*picture ends here*/


  /*About Me, Work, Contact me*/
.container{
  background-color: var(--tertiary-color);
  padding: 60px 200px;
  display: flex;

  
  
}

.container p {
  color:var(--primary-color);
  text-align:left;
  


}

.info {
  border-left: 3px solid;
  padding-left: 100px ;
  color:var(--primary-color);
  margin: 10px 20px 10px 20px;
  width: 100%;

 
 
}

.heading {
  font-size: 25px;
  font-weight: bold;
  color: var(--primary-color);
}


 /*Work Starts here*/

 .containerBigbox{
  
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bigbox{

  border-radius: 14px;
  border: 4px solid var(--primary-color);
  background-color:var(--primary-color) ;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  background-image: url('../images/recipegenerator.jpg');
  background-size: cover;
  background-position: right;
  padding:0px 30px 0px 30px;
  min-height: 550px;
  display: flex;
  width: 100%;
  

}
.item5 span{

 margin-bottom: auto;
 background-color: var(--gray-color); 
 text-align: center;
 padding: 10px 5px 5px 10px;


   
}
.containerItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
 
}

.flex-item{

  width: 49%;
  border-radius: 14px;
  border: 4px solid var(--primary-color);
  background-color:var(--primary-color) ;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  min-height: 250px;
  background-size: cover;
  background-position: center;
  padding:20px 0;
  height: 250px;
  flex-direction: column;
  display: flex;
  
}
.item1 {
  background-image: url('../images/digital-marketing-meeting.jpg');
}
.item2{
background-image: url('../images/hero-bg.jpg');
}
.item3{
background-image: url('../images/pngtree-pink-gold-glitter-background-picture-image_989686.jpg');
}
.item4{
background-image: url('../images/53579b28cb9ae3e.jpg');
}
.item1 span {
 
  background-color: gray;
  text-align: center;
  padding: 10px 5px 5px 10px;
}
.item2 span {
 
  background-color: gray;
  text-align: center;
  padding: 10px 5px 5px 10px;
}
  .item3 span {
 
    background-color: gray;
    text-align: center;
    padding: 10px 5px 5px 10px;
  }

  .item4 span {
 
      background-color: gray;
      text-align: center;
      padding: 10px 5px 5px 10px;
  }

 /*Work Ends here*/

/*Contact Me Starts here*/

.contactinfo {
 
 
  justify-content: space-evenly;
  display: flex;
  font-size: 22px;
  font-weight: bold;
 
  padding-left: 50px;
  padding-right: 50px;

  
}


.contactinfo span{
margin-left: 50px;
margin-right: 50px;
border-bottom: 2px solid var(--primary-color);
padding-bottom: 10px;
}

/*Contact Me Ends here*/



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {


  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
    
  }
  .container{
    justify-content: center;
    text-align: center;
    position: relative;
  }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .contactinfo{
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
  }

}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  header {
   width: 100%;
  }

}




