:root {
  --primary-color: #172a69c9;
  --secondary-color: #e6d818e0;
  --tertiary-color: #a0dceb1c;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* more on this crazy alphanumerical value in a minute! */
    background-color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
   

  }
  
  /* apply styles to <header> */
  header {
    padding: 25px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
  }
  
  header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    
  }
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    text-shadow: 0 0 10px rgba(46, 38, 124, 0.445);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
   
  }
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  
  
  
  .picture h2{
    
    color: #122e8b;
    padding: 10px 15px;
    
  }
     .picture {
    background-image: url('../images/photo3.jpeg');
    padding: 25px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
  }